<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div>
<p class=question><%= @question %> <br>
y- You
</p>
<p class=answer><%= @answer %></p>
<p class=persona>- Your coach</p>
</div>

<form action="/ask">
  <input type="submit" value="Ask a new question!">
</form>
